h2{
    background-color: #4aaaa5;
    width: 100px;
    height: 25px;
    border: solid;
    padding: 50px;
    margin: 10px;
    text-align: center;
}
body{
    background-color: #666666;
    justify-content: center;
}
h1{
    background-color: #ffffff;
    border-color: #cccccc;
    
}

footer{
    background-color: #666666;
}

p{
    background-color: #ffffff;
    border-color: #dddddd;
    text-indent: 10%;
    text-align: left;
}

.links{
    position: fixed;
    top: 0%;
    right: 100%;
    color: #4aaaa5

}